
<h3> Update List</h3>

  <form action="/lists/<%=@list.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <p><label> Title: </p>
    <input id="title" name="title" type="text" value="<%=@list.title%>">

    <p><label> Edit Description: </p>
      <input id="item" type="text" name="item" value="<%=@list.item%>">
      <br>
      <br>

      <button type="submit">Update List</button>
  </form>
