
  <h3> Update Title</h3>

  <form action="/lists<%=@list.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <label for="title">Title:</label>
    <input id="list_title" name="list[title]" type="text" value="<%=@list.title%>">

    <h3> Update Items</h3>

    <label for="description">Item:</label>
    <br>
    <input id="item_description" name="item[description]" type="text" value="<%=@list.item%>">


    <br>
    <br>

    <button type="submit">Add List</button>

</form>
