
<h3> List Name</h3>

  <form action="/lists" method="post">

    <p><label> Title: </p>
    <input id="title" name="title" type="text">

    <p><label> Description: </p>
      <input id="description" type="text" name="description">
      <br>
      <br>

      <button type="submit">Add List</button>
  </form>
