  <h3> List Title</h3>

<form action="/lists" method="post">

  <label>Title:</label>
  <br>
  <input id="title" name="title" type="text">

<h3> Add Items</h3>

  <label>Description:</label>
  <br>
  <input id="item" name="item" type="text">
  <br>
  <br>
  <input id="item" name="item"  type="text">
  <br>
  <br>
  <input id="item" name="item"  type="text">
  <br>
  <br>
  <input id="item" name="item type="text">

  <br>
  <br>


  <br>
  <br>

  <button type="submit">Add List</button>
</form>
<br>
<br>
