  <h3> List Title</h3>

<form action="/lists" method="post">

  <label>Title:</label>
  <br>
  <input id="title" name="title" type="text">

<h3> Add Items</h3>

  <label>Description:</label>
  <br>
  <input id="item_1" type="text" name="item_1[][name]">
  <br>
  <br>
  <input id="item_2" type="text" name="item_2[][name]">
  <br>
  <br>
  <input id="item_3" type="text" name="item_3[][name]">
  <br>
  <br>
  <input id="item_4" type="text" name="item_4[][name]">

  <br>
  <br>

  <button type="submit">Add List</button>
</form>
<br>
<br>
