  <h3> List Title</h3>

<form action="/lists" method="post">

  <label for="title">Title:</label>
  <br>
  <input id="list_title" name="list[title]" type="text">

<h3> Add Items</h3>

  <label for="description">Description:</label>
  <br>
  <input id="item_description" name="item[description]" type="text">


  <br>
  <br>

  <button type="submit">Add List</button>
</form>
<br>
<br>

