<h2> List: </h2>
<h3><%= @list.title %></h3>
<br>
<p><%= @list.item %></p>

<form method="post" action="/lists/<%=@list.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete List">
</form>

  <br>
  <a href="/lists/<%=@list.id%>/edit">Edit List</a>
  <br>
  <br>
  <a href="/lists">Wedding Shenanigans HomePage</a>
