<h3>Sign In</h3>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Type in your password">
	<input type="submit" value="Sign-In">
</form>
<br>
<h4> Don't have an account?</h4>
<a href="/signup">Register</a>
