<% if !logged_in? %>
  <h3>Welcome to Wedding Shenanigans!!</h3> 

  <p><a href="/signup">Sign-Up</a> to learn more!</p>
  <br>
  <br>
  <p>Have an account? <a href="/login"> Sign In </a></p>
<%end %>
