<% if !logged_in? %>
  <h3>Welcome to Wedding Shenanigans!!</h3>
  <h3><a href="/signup">Sign-Up</a> to learn more!</h3>
  <h3>Have an account? <a href="/login"> Sign In </a></h3>
<%else %>
  <h3>We know weddings can be a bit crazy. That's why, Wedding Shenanigans is here to help you plan out your big-day with lists you can create.</h3>
  <h3>To create a list click <a href="/lists/new">here</a>!</h3>
  <h3>To view your lists click <a href="/lists/lists">here</a>!</h3>
<%end %>
