<!doctype html>
<html>
  <head>
    <title>Wedding Shenanigans</title>
    <br>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container">
    <% if logged_in? %>
       <a href="/lists/new"> Create List </a>
       <br>
       <a href="/logout"> Log-Out </a>
       <br>
       <a href="/lists">HomePage</a>
       <br>
       <p>Hello, <%=current_user.username %>!</p>
     <%end %>

   </div>
    <div class="container">
      <h1>Wedding Shenanigans</h1>
      <%=yield%>
    </div>


  </body>
</html>
