<!doctype html>
<html>
  <head>
    <title>Wedding Shenanigans</title>
  </head>
  <body>
    <% if logged_in? %>
       <a href="/lists/new"> Create List </a>
       <br>
       <a href="/logout"> Log-Out </a>
       <br>
       <p>Hello, <%=current_user.username %>!</p>
       <p> We know weddings can be a bit crazy. </p>
       <p> That's why, Wedding Shenanigans is here to help you plan out your big-day with lists you can create.</p> 
       <p> To create a list click <a href="/lists/new">here</a>!</p>
       <p> To view your lists click <a href="/lists/lists">here</a>!</p>
     <%end %>

      <h2><%= yield %></h2>


  </body>
</html>
